ul {
    list-style: none;
    padding: 0;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}
li {
    display: flex;
    flex-direction: column;
}
img {
    transform: scaleY(-1);
    max-width: 200px;
}
img.table {
    max-height: 200px;
}